---
import { getCollection } from "astro:content"
import Layout from "@layouts/Layout.astro"
import Header from "@components/Header.astro"
import Footer from "@components/Footer.astro"
import LinkButton from "@components/LinkButton.astro"
import Hr from "@components/Hr.astro"
import Card from "@components/Card"
import getSortedBlog from "@utils/getSortedBlogPosts"
import speakingData from "../data/speakingData.json"

const blog = await getCollection("blog")

const sortedblog = getSortedBlog(blog)
const recentblog = sortedblog.filter(({ data }) => !data.featured)

// Flatten and sort the speaking data
const flattenedData: { title: string; link: string; year: string }[] =
  speakingData.flatMap((yearData) =>
    yearData.content.map((content) => ({
      ...content,
      year: yearData.year,
    })),
  )

const sortedData = flattenedData.sort((a, b) => Number(b.year) - Number(a.year))
const latestFive = sortedData.slice(0, 5)
---

<Layout>
  <Header />
  <main id="main-content">
    <Hr />

    {
      recentblog.length > 0 && (
        <section id="recent-blog">
          <h2 tabindex="0">Recent Blog Posts</h2>
          <ul>
            {recentblog.map(
              ({ data, slug }, index) =>
                index < 5 && (
                  <Card
                    href={`/blog/${slug}/`}
                    frontmatter={data}
                    secHeading={false}
                  />
                ),
            )}
          </ul>
        </section>
      )
    }

    <div class="all-blog-btn-wrapper">
      <LinkButton href="/blog/">
        All blog posts
        <svg xmlns="http://www.w3.org/2000/svg"
          ><path
            d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
          ></path>
        </svg>
      </LinkButton>
    </div>

    {
      (
        <section id="recent-talks">
          <h2 tabindex="0">Recent Talks</h2>
          <ul>
            {latestFive.map((content) => (
              <li id="talk-list">
                <a
                  href={content.link}
                  class="inline-block text-lg font-medium text-skin-accent decoration-dashed underline-offset-4 hover:underline focus-visible:no-underline focus-visible:underline-offset-0"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  {content.title} ({content.year})
                </a>
              </li>
            ))}
          </ul>
        </section>
      )
    }

    <div class="all-blog-btn-wrapper">
      <LinkButton href="/talks/">
        All Talks
        <svg xmlns="http://www.w3.org/2000/svg"
          ><path
            d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
          ></path>
        </svg>
      </LinkButton>
    </div>
  </main>

  <Footer />
</Layout>

<!-- <style>
  @reference;
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent blog Sections ===== */
  #featured,
  #recent-blog,
  .talk-list {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-blog h2,
  #recent-talks h2 {
    @apply text-2xl tracking-wide;
  }
  .all-blog-btn-wrapper {
    @apply my-8 text-center;
  }

  #talk-list {
    @apply my-4 font-merri sm:my-8 sm:text-xl;
  }
</style> -->
