---
export interface Props {
  href: string
  className?: string
  ariaLabel?: string
  title?: string
  disabled?: boolean
  newTab?: boolean
}

const {
  href,
  className,
  ariaLabel,
  title,
  disabled = false,
  newTab = false,
} = Astro.props
---

{
  disabled ? (
    <span
      class={`group inline-block ${className}`}
      aria-label={ariaLabel}
      title={title}
      aria-disabled={disabled}
    >
      <slot />
    </span>
  ) : (
    <a
      {href}
      class={`group hover:text-skin-accent inline-block ${className}`}
      aria-label={ariaLabel}
      title={title}
      target={newTab ? "_blank" : undefined}
      rel={newTab ? "noopener noreferrer" : undefined}
    >
      <slot />
    </a>
  )
}
